<h1> Movie Reviews for <%=@movie.title%></h1>

<% if @movie.reviews.any? %>

  <ul>
    <% @movie.reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %>/10 <br>
        <strong>Comment:</strong> <%= review.comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet for this movie.</p>
<% end %>

<%= link_to 'Add Review', new_movie_review_path(@movie) %>